body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: black;
  }
  
  .meta-page {
    padding: 80px 180px;
  }
  
  .meta-page h1 {
    font-size: 72px;
    font-weight: 800;
    margin: 0 0 60px 0;
  }
  
  .meta-page p {
    font-size: 20px;
    font-weight: 400;
  }
  